memorysetup-allocator-temp-initial-block-size-main=262144
memorysetup-allocator-temp-initial-block-size-worker=262144
memorysetup-temp-allocator-size-background-worker=32768
memorysetup-temp-allocator-size-job-worker=262144
memorysetup-temp-allocator-size-preload-manager=262144
memorysetup-temp-allocator-size-nav-mesh-worker=65536
memorysetup-temp-allocator-size-audio-worker=65536
memorysetup-temp-allocator-size-cloud-worker=32768
memorysetup-bucket-allocator-granularity=16
memorysetup-bucket-allocator-block-size=4194304
memorysetup-bucket-allocator-block-count=1
memorysetup-main-allocator-block-size=4194304
memorysetup-thread-allocator-block-size=4194304
memorysetup-gfx-main-allocator-block-size=1048576
memorysetup-gfx-thread-allocator-block-size=1048576
memorysetup-cache-allocator-block-size=1048576
memorysetup-typetree-allocator-block-size=1048576
memorysetup-profiler-bucket-allocator-block-size=1048576
memorysetup-profiler-bucket-allocator-block-count=1
memorysetup-profiler-allocator-block-size=1048576
memorysetup-profiler-allocator-main=1048576
memorysetup-temp-allocator-size-main=2097152
