gfx-enable-gfx-jobs=0
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=4dd46a5180d84a3eae8dce29e3da0da7
memorysetup-gfx-main-allocator-block-size=4194304
memorysetup-gfx-thread-allocator-block-size=4194304
memorysetup-cache-allocator-block-size=1048576
memorysetup-typetree-allocator-block-size=1048576
memorysetup-bucket-allocator-block-size=1048576
memorysetup-temp-allocator-size-main=1048576
memorysetup-job-temp-allocator-block-size=1048576
memorysetup-temp-allocator-size-gfx=65536
